<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/3208/3208723.png">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
