html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #bdc3c7 30%, #2c3e50 70%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #2c3e50;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #B2C8DF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #7FBCD2;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-left: 0 !important;
}

.item:last-child {
  border-bottom: 0;
}

.item:hover {
background-color: #abb1b8;

}
.list-types {
  
  font-size: 2rem;
  color: #eae1dc;
  opacity: 0.5;
  transition: 0.2s ease-out;
  margin: 0 1rem 0 1rem;
}
.menu {
  text-align: right;
  margin-right: 5rem;
  position: sticky;
  top: 3rem;
}

.list-types:hover {
  transition: 0.2s ease-in;
  transform: scale(2);
  opacity: 1;
}
@media(max-width: 305px) {
  .list-types {
    margin: 0 0.6rem 0 0.6rem;
  }
 }
@media(max-width: 1095px) {
  .box {
    width: 95%;
  }

  .menu {
    position: relative;
    top: 2.2rem;
    text-align: center;
    margin-right: 0;
    margin-bottom: 3.3rem;
  }

  .list-types {
    margin: 0 1.1rem 0 1.1rem;
  }

  button {
    margin-right: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
  }
  .social {
    margin-bottom: 1.5rem;
  }
}
button{
  min-height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2c3e50;
  color: #fff;
  font-size: 1.875rem;
  padding: 0.375rem;
  border-width: 0;
  transition: 0.2s ease-out;

}

button:hover {
  border-radius: 35%;
  transition: 0.2s ease-in;
  background-color: #2c3e50;
  cursor: pointer;
  /* border: 2px solid white; */
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}
input[type="checkbox"]::before {
  /* ...existing styles */

  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

h4 {
  color: #2c3e50;
  font-size: 1.2rem;
}
.social a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #cbbfb6;
  padding: 0;
  margin: 1rem;
  transition: 0.1s;
}

.soc-icon-1:hover {
  transform: scale(1.2);
  color: #cd486b;
}

.soc-icon-2:hover {
  transform: scale(1.2);
  color: #1DA1F2;
}

.soc-icon-3:hover {
  transform: scale(1.2);
  color: #BB001B;
}